In [1]:
import pandas as pd

In [2]:
books = pd.read_csv(r"Data\Books.csv")
ratings = pd.read_csv(r"Data\Ratings.csv")
users = pd.read_csv(r"Data\Users.csv")

C:\Users\toran\AppData\Local\Temp\ipykernel_20724\1113705349.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(r"Data\Books.csv")

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [5]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [6]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [7]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [8]:
Q1 = users.Age.quantile(0.25)
Q3 = users.Age.quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = users[(users.Age < lower_bound) | (users.Age > upper_bound)]
print(outliers)

users = users[(users.Age >= lower_bound) & (users.Age <= upper_bound)]

        User-ID                                      Location    Age
220         221                      palm beach, florida, usa   79.0
689         690                      lake oswego, oregon, usa   80.0
957         958                           lindale, texas, usa   78.0
1147       1148                  prairie village, kansas, usa   79.0
1288       1289                     san jose, california, usa  103.0
...         ...                                           ...    ...
278301   278302      d√ºsseldorf, nordrhein-westfalen, germany  104.0
278317   278318                  studio city, california, usa   77.0
278348   278349                           carlin, nevada, usa   76.0
278412   278413                    kansas city, missouri, usa   76.0
278471   278472  biel-benken bl/schweiz, alabama, switzerland   81.0

[1084 rows x 3 columns]

In [9]:
users.describe()

             User-ID            Age
count  167012.000000  167012.000000
mean   139413.256071      34.373590
std     80561.796868      13.517693
min         2.000000       0.000000
25%     69934.750000      24.000000
50%    139397.500000      32.000000
75%    209192.250000      44.000000
max    278855.000000      74.000000

In [10]:
users.rename(columns ={"User-ID" : "User_ID" , "Age" : "Age"}, inplace=True)
ratings.rename(columns ={"User-ID" : "User_ID" , "Book-Rating" : "Book_Rating"}, inplace=True)
books.rename(columns ={"Book-Title" : "Book_Title" , "Book-Author" : "Book_Author" , "Year-Of-Publication" : "Year_Of_Publication" , "Publisher" : "Publisher"}, inplace=True)

In [11]:
book_info = pd.merge(books, ratings, on='ISBN', how='inner')
book_info.head()

,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User_ID,Book_Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [12]:
Books_Complete = pd.merge(book_info, users, on='User_ID', how='inner')
Books_Complete.head()

,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User_ID,Book_Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.0
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,67544,8,"toronto, ontario, canada",30.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526,0,"victoria, british columbia, canada",36.0
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054,0,"ottawa, ontario, canada",29.0

In [13]:
Books_Complete.isnull().sum()

ISBN                   0
Book_Title             0
Book_Author            2
Year_Of_Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            2
User_ID                0
Book_Rating            0
Location               0
Age                    0
dtype: int64

In [14]:
Books_Complete.dropna(inplace=True)

In [15]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
data = Books_Complete
tf = TfidfVectorizer()
tf.fit(data['Book_Title'])
tf.get_feature_names_out()

array(['00', '000', '00027', ..., '√£¬∫ltimos', '√£¬∫tiles', '√£¬ºber'],
      dtype=object)

In [16]:
# Melakukan fit lalu ditransformasikan ke bentuk matrix
tfidf_matrix = tf.fit_transform(data['Book_Title'])

# Melihat ukuran matrix tfidf
tfidf_matrix.shape

(748401, 71415)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD

In [18]:
# Ambil hanya fitur yang diperlukan
Books_Complete['Book_Title'] = Books_Complete['Book_Title'].fillna('')

In [19]:
# TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(Books_Complete['Book_Title'])

In [26]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix
from surprise import Dataset, Reader, SVD
from surprise.model_selection import cross_validate

In [25]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: joblib>=1.2.0 in c:\users\toran\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\toran\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\toran\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-surprise) (1.14.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml): started
  Building wheel for scikit-surprise (pyproject.toml): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp311-cp311-win_amd64.whl size=1297572 sha256=e632d26ab9bb12676f10012e27f9f0d1699dfa91540424830870b4dfdfed6109
  Stored in directory: c:\users\toran\appdata\local\pip\cache\wheels\2a\8f\6e\7e2899163e2d85d8266daab4aa1cdabec7a6c56f83c015b5af
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\toran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [28]:
books["Book_Title"] = books["Book_Title"].fillna('')
books["Book_Author"] = books["Book_Author"].fillna('')
books["combined_features"] = books["Book_Title"] + " " + books["Book_Author"]

In [30]:
data_df = ratings.merge(users, on='User_ID')

In [31]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(books["combined_features"])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

MemoryError: Unable to allocate 4.95 GiB for an array with shape (1328750440,) and data type int32